$white: #FFFFFF;
$black: #000000;

//Primary Colors
$primary_900: #674939;
$primary_700: #89624c;
$primary_500: #ab7a5f;
$primary_300: #c4a28f;
$primary_200: #ddcabf;
$primary_100: #e6d7cf;
$primary_50: #eee4df;
$primary_Gradient: linear-gradient(#f5ffff, #e2fafc);
$primary_gradient_dark: linear-gradient(180deg, #f2ffff 0%, #c3e9ec 100%);
$button_gradient: linear-gradient(90deg, #96FCE9 -20.05%, #3FBBCB 43.73%, #42A3D0 100%);
$secondary_gradient: linear-gradient(90deg, #EFFFE2 0.01%, #EBF8FB 99.41%);
$promo: #837CD9;

//Accent Colors
$accent_900: #d55500;
$accent_700: #ff7215;
$accent_500: #ff8c40;
$accent_300: #ffab73;
$accent_100: #ffd9bf;

//Neutral Colors
$headings: #242330;
$body: #4e4b66;
$label: #6e7191;
$placeholder: #a0a3bd;
$line: #d9dbe9;
$primary_background: #f9f9f9;
$secondary_background: #e7eff2;
$surface_background: #F1F1F6;


//Other Colors
$error: #ff5f5f;
$success: #00ba88;
$warning: #eeb71c;

//Tag Colors
$bestseller: #fbb77b;
$ship_fast: #cef3d9;
$our_pick: #c1f4fa;
$new: #fffba3;

//Elevation
$elevation_1: 0px 1px 3px rgba($black, 30%);
$elevation_2: 0px 1.25px 4px rgba($black, 25%);
$elevation_3: 0px 2px 6px rgba($black, 22%);
$elevation_4: 0px 2px 7px rgba($black, 24%);
$elevation_5: 0px 3px 12px rgba($black, 20%);
$elevation_6: 0px 2px 14px rgba($black, 20%);
$elevation_7: 0px 7px 18px rgba($black, 17%);
$elevation_8: 0px 12px 28px rgba($black, 20%);
$elevation_9: 0px 13px 36px rgba($black, 22%);
$elevation-1: 0px -4px 40px rgba($black, 20%);
$elevation_primary_btn: 2px 2px 12px rgba($primary_500, 25%),
    0px 2px 8px fade($primary_500, 25%);
