@import "./fonts.scss";

//heading
.heading_1 {
    font-family: $cormorant;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.54;
    font-feature-settings: "pnum" on, "lnum" on;
    @media (max-width: 768px) {
        font-size: 37px;
        line-height: 1.54;
    }
}
.heading_2 {
    font-family: $cormorant;
    font-weight: 500;
    font-size: 33px;
    line-height: 1.55;
    font-feature-settings: "pnum" on, "lnum" on;
    @media (max-width: 768px) {
        font-size: 29px;
        line-height: 1.59;
    }
}
.heading_3 {
    font-family: $cormorant;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.58;
    font-feature-settings: "pnum" on, "lnum" on;
    @media (max-width: 768px) {
        font-size: 23px;
        line-height: 1.61;
    }
}
.heading_4 {
    font-family: $lato;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.28;
    @media (max-width: 768px) {
        font-size: 31px;
        line-height: 1.32;
    }
}
.heading_5 {
    font-family: $lato;
    font-weight: 500;
    font-size: 27px;
    line-height: 1.33;
    @media (max-width: 768px) {
        font-size: 25px;
        line-height: 1.32;
    }
}
.heading_6 {
    font-family: $lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.15px;
    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 1.67;
    }
}

//subheading
.sub_heading_1 {
    font-family: $lato;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.sub_heading_2 {
    font-family: $lato;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.1px;
}

.sub_heading_3 {
    font-family: $lato;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 1px;
}

//body
.body_1 {
    font-family: $lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.5px;
    // + .body_1 {
    //     margin-top: 8px;
    // }
}
.body_2 {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    // + .body_2 {
    //     margin-top: 8px;
    // }
}
.body_3 {
    font-family: $lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.1px;
}
.body_4 {
    font-family: $lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.body_5 {
    font-family: $lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20px;
}
.caption_ {
    font-family: $lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.4px;
}
.overline {
    font-family: $lato;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 2.5px;
}

//Action
.__btn {
    font-family: $lato;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}
.action_btn_1 {
    @extend .__btn;
    font-size: 14px;
    line-height: 1.43;
}

.action_btn_2 {
    @extend .__btn;
    font-size: 12px;
    line-height: 1.56;
}

//Link
.__link {
    font-family: $lato;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.15px;
}
.link_1 {
    @extend .__link;
    font-weight: 400;
}
.link_2 {
    @extend .__link;
    font-weight: 500;
    text-decoration-line: underline;
}