@import '../../assets/scss/index.scss';

.hero {
    &-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 160px;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }

    &--content {
        &-title {
            @extend .heading_1;
            color: $headings;
            font-weight: 700;
            margin-bottom: 28px;
        }

        &-desc {
            @extend .body_1;
            color: $body;
            margin-bottom: 20px;
        }

        &-action {
            display: inline-flex !important;
        }
    }

    &--imgContainer {
        display: block;
        position: relative;

        @media (max-width: 767px) {
            width: 92%;
            margin-left: auto;
        }

        &:before {
            content: '';
            @extend .sm_radius;
            position: absolute;
            width: 10%;
            height: 80%;
            background: $primary_200;
            bottom: 0%;
            left: -8%;
        }

        &-main {
            @extend .sm_radius;
            width: 100%;
            height: 550px;
            position: relative;
            display: block;
            object-fit: cover;
        }

        &-accent {
            @extend .sm_radius;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 250px;
            transform: translateX(-50%);

            @media (max-width: 767px) {
                display: none !important;
            }
        }
    }
}